/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 236, 239, 245;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 40%), #fff;
	--bg: #fafafa;
	--box-shadow:
		0 1px 3px rgba(var(--gray), 12%), 0 4px 12px rgba(var(--gray), 18%);
}
body {
	font-family: "Noto Sans", sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--bg);
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 18px;
	line-height: 1.65;
}
main {
	width: 720px;
	max-width: calc(100% - 3em);
	margin: auto;
	padding: 3em 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.25;
}
h1 {
	font-size: 2.25em;
}
h2 {
	font-size: 1.75em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.25em;
}
h5 {
	font-size: 1.125em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1.25em;
}
.prose p {
	margin-bottom: 1.5em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
}
code {
	padding: 0.2em 0.5em;
	background-color: rgb(var(--gray-light));
	border-radius: 4px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
	background-color: rgb(var(--gray-light));
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 3px solid rgba(var(--gray), 0.5);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.125em;
	color: rgb(var(--gray-dark));
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	body {
		font-size: 17px;
	}
	main {
		padding: 1.5em 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
